<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.system.PositionMapper" >
  <resultMap id="BaseResultMap" type="entity.system.Position" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="DEP_ID" property="depId" jdbcType="DECIMAL" />
    <result column="NAME" property="name" jdbcType="OTHER" />
    <result column="DESCRIPTION" property="description" jdbcType="OTHER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, DEP_ID, NAME, DESCRIPTION
  </sql>
  
<!-- 按部门id和职位名称获取职位信息开始 -->
  <select id="selectByDepartmentIdAndName" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from POSITION
    where ID = #{0} AND NAME=#{1} 
  </select>
<!-- 按部门id和职位名称获取职位信息结束-->

<!-- 按id查询职位信息开始 -->
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from POSITION
    where ID = #{id,jdbcType=DECIMAL}
  </select>
 <!-- 按id查询职位信息结束 --> 
 <!-- 按部门id查询职位信息集合开始 -->
  <select id="selectByDepartmentId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from POSITION
    where DEP_ID = #{dep_id,jdbcType=DECIMAL}
  </select>
 <!-- 按部门id查询职位信息集合结束 -->

  <!-- 分页查询职位信息开始 -->	  
  <select id="selectByPageHelper" resultMap="BaseResultMap" parameterType="map" >
    SELECT * FROM ( SELECT P.*, ROWNUM RN FROM (SELECT * FROM POSITION ORDER BY ID) P 
    	 WHERE ROWNUM &lt;=${pageSize}) WHERE RN &gt;= ${current} and DEP_ID=${dep_id}
  </select>
  <!-- 分页查询职位信息结束 -->
  
  <!-- 自增加id开始 -->
  <insert id="insert" parameterType="entity.system.Position" >
    <selectKey resultType="int" order="BEFORE" keyProperty="id">  
	     SELECT POSITION_SE.nextval FROM dual  
	</selectKey>  
   insert into POSITION
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="depId != null" >
        DEP_ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="description != null" >
        DESCRIPTION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
         #{id},
      </if>
      <if test="depId != null" >
       #{depId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
       #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <!-- 自增加id结束-->
  
  
  <!-- 修改职位信息开始 -->
  <update id="update" parameterType="entity.system.Position" >
    update POSITION
    <set >
      <if test="depId != null" >
        DEP_ID = #{depId,jdbcType=DECIMAL},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=OTHER},
      </if>
      <if test="description != null" >
        DESCRIPTION = #{description,jdbcType=OTHER},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <!-- 修改职位信息结束 -->
  
  
  <!-- 删除职位信息开始 -->
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from POSITION
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <!-- 删除职位信息结束 -->
</mapper>